---
layout: default
---

<body class="home" >
    <section class="hero">
        <div class="hero-inner">
            <div class="container">
                <img src="{{ site.author.avatar | prepend: site.baseurl }}" alt="author thumb" class="dot landing-avatar">
                <h1>Hello!</h1>
                <h3>I'm <strong itemprop="name">{{ site.author.name }}</strong>, a <em
                        itemprop="jobTitle">{{ site.data.landingpage.job }}</em>.</h3>
                <h3>{{ site.data.landingpage.bio }}</h3>

                {% for item in site.data.landingpage.links %}
                    <a href="{{ item.url | prepend: site.baseurl }}" class="button button-ghost" title="{{ item.label }}">{{ item.label }}</a>                    
                {% endfor %}
                
                
                <ul class="social">

                    {% for item in site.data.landingpage.social %}
                        <li><a href="{{ item.url }}" target="_blank"><i class="icon icon-{{ item.label }}"></i></a></li>                        
                    {% endfor %}
                    
                </ul>

            </div>
        </div>
    </section>
</body>